/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { 
   background: #fff url('../img/main-back.jpg');
   color: #5f5f5f;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.centered {
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.ghosted-note {
   color:#8f8f8f;
   max-width: 100%;
}

.btn {
   .border-radius(5px);
   padding: 10px;
   margin: 5px 0;
   font-size: 18px;
   .transition(.5s);
}

.white {
   background:white;
}

.orange {
   background: @orange;
   color: white;
}

.white-text, .white-text a {
   color: white;
}

.blue-text {
   color:@blue;
}

.purple-text {
   color:@purple;
}

.page-title {
   font-size: 34px;
   font-family: 'Roboto', sans-serif;
   color: white;
}

input, select {
   background: #ececec;
   .border-radius(5px);
   border: 0;
   margin: 0 0 5px 0;
   padding: 12px;
   display: inline-block;
   color: #7f7f7f;
   font-size: 22px;
}

input:not([type=submit]):not([type=checkbox]), select {
   width: 100%;
}

input[type=submit] {
   width: 50%;
}

input[type=checkbox] {
   visibility: hidden;
}

/* Custom Checkbox */

.custom-checkbox {  
   position: relative;
}

.custom-checkbox label {
   cursor: pointer;
   position: absolute;
   width: 20px;
   height: 20px;
   top: 0; left: 0;
   border-radius: 4px;

   -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
   -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
   box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
   background: #ececec;
}

.custom-checkbox label:after {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   content: '';
   position: absolute;
   width: 14px;
   height: 8px;
   background: transparent;
   top: 4px;
   left: 4px;
   border: 3px solid #333;
   border-top: none;
   border-right: none;

   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.custom-checkbox label:hover::after {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
   filter: alpha(opacity=30);
   opacity: 0.5;
}

.custom-checkbox input[type=checkbox]:checked + label:after {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.addon-icon {
   position: relative;
   input, select  {
      padding-left: 50px;
   }
      .add-on {
         position: absolute;
         left:15px;
         top: 8px;
         color: #999999;
         font-size: 24px;
      }
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner { margin-bottom: 20px; }

.top-nav-bar {
   background:#f2f2f2;
   height:38px;

   nav {
      float:left;
   }

   ul.top-nav {
      margin-bottom: 0px;
      padding-left: 0px;

      li {
         display: inline-block;

         a {
            display:block;
            font-size: 1em;
            padding: 0px 8px;
            height: 38px;
            line-height: 38px;

            &:hover {
               background: white;
               color: #e53203;
               text-decoration: none;
            }
         }
      }

   }
}

ul.social-nav {
   margin-bottom: 0px;
   padding-left: 12px;
   
   li {
      display: inline-block;

      a {
         display:block;
         padding: 0px 6px;
         height: 38px;
         line-height: 38px;
         
         &:hover i {
            color:#555;
            }

         i {
            color:#888;
         }
      }
   }
}

/* Responsive Navigation */

.tinynav { display: none }

/* styles for mobile */
@media screen and (max-width: 767px) {
   .tinynav { 
      display: block;
      margin-top:6px;
      padding: 2px 0;
      width:100%;

   }
   .top-nav { 
      display: none;
   }
}

a.logo {
   display: block;
   margin: 0px auto;
   float:left;
   width: 120px;
}

.second-nav {
   margin-top: 20px;
   font-size:1em;
   color: #e53203;
}

.second-nav-logged {
   margin-top: 7px;
   font-size: .9em;

      .username{
      background: @dark;
      .border-radius(5px);
      color: #c8c8c8;
      padding: 4px 8px;

         i {
            margin-right: 6px;
            color: #666;
         }
      }

      span {
         display: block;
         margin:0px auto;
      }
}



/* ==========================================================================
   Footer
   ========================================================================== */

.footer-info { 
   margin-top: 20px;

      p {
      font-size: .9em;
      text-align: center;
      }
}


/* ==========================================================================
   Content
   ========================================================================== */

.wrap {
   margin-top: 20px;
}

.login .wrap, .register .wrap {
   margin-top: 0px;
}

.main section {
   margin: 60px 0;
}

.container-full {
   padding: 0 15px;
}

.overflow {
   margin: 0 -15px;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
   Main Page Elements
   ========================================================================== */

.img-hero {
   display: block;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 20px;

   h1 {
      margin: 0px auto;
      max-width: 90%;
      font-size: 23px;
      color: #fff;
      text-shadow: 1px 2px 8px #000;
      text-align: center;
   }
}

.img-hero.home-hero {
      height: 196px;
   }

.img-hero.full-height {
      height: 900px;
   }

.img-hero-bar {
   background-position: center 30%;
   background-image: url('../img/img-hero-bar.jpg');
}


.orange-hero {
   background: url('../img/orange-hex-pattern.jpg');

   .handshake-icon {
      display:none;
   }

}

.news-ticker {
   margin-bottom: 10px;
   background: @dark;
   height: 74px;
   font-size: 14px;
   color: white;

   p {
      display:inline-block;
      background: #505050;
      height: 74px;
      padding: 25px 10px;
      float: left;
      width: auto;
   }

   .ticker-container {
      overflow: hidden;
      height: 74px;
   }

   ul.ticker {
      position: relative;
      height: 74px;
      -webkit-transition: all 0s linear;
      -moz-transition: all 0s linear;
      -o-transition: all 0s linear;
      transition: all 0s linear;
      list-style:none;
      margin:0;

      li {
         float:left;
         margin: 0 5px;

         a {
            color: white;
            display: block;
            height: 74px;
            line-height: 74px;
            padding: 0px 8px;
            white-space: nowrap;
            font-family: 'Roboto', sans-serif;

         }
      }
   }
}

a.round-icon-blocks {
   text-align: center;
   color:@dark;
   display: block;
   margin-bottom: 60px;

   &:hover {
         text-decoration: none !important;

      i {
             background: @orange;
             color: white;
      }
   }

   i {
      background: #ececec;
      .border-radius(50%);
      height: 100px; width: 100px;
      font-size: 36px;
      color: @orange;
      padding: 30px;
      margin: 10px auto;
      display: block;
      .transition(.5s);
   }
   
   p {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 400;
   }
      
}

.mc-field-group .addon-icon {
   width: 75%;
}

.login-meta {
   margin-left: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (min-width: @screen-sm-min) { 

.page-title {
   font-size: 40px;
}

.ghosted-note {
   max-width: 40%;
}


input.email {
   width:40%;
}

   .top-nav-bar {
      
      nav {
         float:right;
      }
   }

   .second-nav {
      margin-top: 20px;
      font-size:1.4em;
   }

   .second-nav-logged {
   margin-top: 12px;
   font-size: 1.1em;
   }

   .img-hero {
      padding-top: 50px;

      h1 {
      font-size: 36px;
      width: 70%;
      }
   }

   .img-hero.home-hero {
         height: 418px;
      }

   .news-ticker {
      font-size: 18px;

      p {
         padding: 25px 20px;
      }
   }

   .orange-hero {

         .handshake-icon {
            display: block;
            margin-bottom: -26px;
         }

         .col-sm-4:first-child, .col-sm-4:last-child {
            padding-top: 40px;
         }
   }
}


@media (min-width: @screen-md-min) { 
            
      a.logo { 
         margin-top:-14px;
         width:200px;
      }

      .img-hero h1 {
      font-size: 48px;
      }

      .btn {
      font-size: 25px;
      }
}

@media (min-width: @screen-lg-min) { }
