/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { 
   background: #fff url('../img/main-back.jpg');
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.top-nav-bar {
   background:#f2f2f2;

   ul.top-nav {
      margin-bottom: 0px;
      padding-left: 0px;

      li {
         display: inline-block;

         a {
            display:block;
            font-size: 1em;
            padding: 4px 6px;
         }
      }

   }
}

ul.social-nav {
   margin-bottom: 0px;
   padding-left: 15px;
   
   li {
      display: inline-block;

      a {
         display:block;
         padding: 4px;
         
         i {
            color:#888;

            &:hover {
            color:#555;
            }
         }
      }
   }
}

a.logo {
   display: block;
   margin-top: -14px;
   width: 200px;
}

.second-nav {
   margin-top: 20px;
   font-size:1.4em;
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
